/* FOOTER */
.greybar {
    @include setDimensions(100%, 90px);
    background:$graybar-color;
    clear:both;
    padding-top:30px;
}
footer {
    @include setDimensions(100%, 120px);
    background:$footer-color;
    text-align:center;
    color:$white;
    padding-top:50px;
    @include break($small-width) {text-align:center;}

    .social-media {
        margin:0 auto;
        width:165px;

        div {
            float:left;
            margin-right:5px;
        }
        a {
            display:block;
            @include setDimensions(36px, 36px);
            text-indent:-9999px;
        }
        div.one     {@include setSocialMediaBackground(1);}
        div.two     {@include setSocialMediaBackground(2);}
        div.three   {@include setSocialMediaBackground(3);}
        div.four    {@include setSocialMediaBackground(4);}
    }
}