@mixin setFont($color:black, $weight:normal, $size:1em) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
}

@mixin break($width: $small-width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin setDimensions($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin setSocialMediaBackground($icon-index: 1) {
    background: url($social-img) (($icon-index - 1) * $social-media-x-pos-increment) 0;
}