// FONTS
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');
$font-body:     'Roboto';

// IMAGES
$background-img: '../images/bg.gif';
$logo-img: '../images/logo.png';
$social-img: '../images/social-media.png';

// COLORS
$white:         #FFF; 
$red:           #E65C43;
$headline-color:#F25C43;
$gray:          #666;
$footer-color:  #30353D;
$graybar-color: #F5F6F6;

// SCREEN WIDTHS
$small-width: 459px;
$medium-width: 767px;
$big-width: 959px;
$widths: $small-width, $medium-width, $big-width;